<h1>Todo.ly</h1>

<div id="container">
	<div class="add-to-do">
		<input type="text" name="todo-value" id="todo-entry">
		<input type="button" id="todo-button" value="Add to list">
	</div>
	<div class="todos-div">
		<ol id="todos"><h1>Todos</h1></ol>
	</div>
	<div class="done-div">
		<ol id="done"><h1>Completed</h1></ol>
	</div>

</div>