<h1>Todo.ly</h1>

<div id="container">
	<div class="add-to-do">
		<!-- <input type="text" name="todo-value" id="todo-entry">
		<input type="button" id="todo-button" value="Add to list"> -->
	</div>
	<div class="todos-div">
		<ol id="todos"><h1>Todos</h1></ol>
	</div>
	<div class="done-div">
		<ol id="done"><h1>Completed</h1></ol>
	</div>

</div>
<script type="text/html" id="add">
	<input type="text" name="todo-value" id="todo-entry">
		<input type="button" id="todo-button" value="Add to list">
</script>
<script type="text/html" id="todo">
	<li class="todoly"><%%= todo %><input type="checkbox" class="checkbox"value="" id="<%%= id %>"></li>
</script>